$main-font: 'Roboto';
$main-font-size: 18px;
$title-font-size: 22px;
$text-font-size: 16px;
$link-font-size: 20px;

$main-color: #edd661;
$main-text-color: #000;
$hover-color: #088f8f;
$input-border-color: rgba(0, 0, 0, 0.5);
$input-background-color: rgba(211, 211, 211, 0.5);
$button-background-color: #dad897;
